nav {
	text-align: center;
}
p {
	font-family: "verdana", sans-serif;
	color: #778899
}
.text-center {
	font-family: 'Copperplate', sans-serif;
	color: #808080;
}

.illustrations {
	font-family: 'Copperplate', sans-serif;
	color: #808080
}

.space {
	font-family: "verdana", sans-serif;
	color: #808080
}

* {
	margin: 0; padding: 0;
}
  
body {
    <!-- src: http://subtlepatterns.com/?p=1045 -->
    background: url('dark_geometric.png');
}

.col-md-4 {
	padding: 50px;
}
#container {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto;
    background: white;
}

#bigdiv {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */ /*change count to 2*/
   	-moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#bigdiv2 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
   	-moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#bigdiv3 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */ /*change count to 2*/
   	-moz-column-count: 2; /* Firefox */
    column-count: 2;
}






