body {
	background-color: WhiteSmoke;
	font-family: 'Raleway', sans-serif;
	/*background-image: url(flourish.png);*/
}

nav {
	text-align: center;
	margin-bottom: 90px;
}

a {
	text-decoration: none;
	color: grey;
}

img {
	/*margin: auto;*/
	float; left:
}

ul {
	padding: 0;
	margin: 0;
}

 ul ul { 
 	position: absolute;
 	display: none;
 	left: 0;
 	top: 100%;
 }

li {
	display: inline;
	position: relative;
}

li:hover ul {
	display: block;
	text-align: left;
}
/*h3 {
	text-decoration:;
}*/

#bigdiv {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
   	-moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#majordiv {
	background-color: #E8E8E8;
    opacity: .9;
    filter: alpha (opacity=40);
}

#header {
	text-align: center;
}

#about-me {
	width: 350px;
	margin: auto;
	padding-bottom: 20px;
}


#sidebar {
/*	text-align: center;
*/	margin: auto;
	/*float: right;*/
}


#footer {
	clear: left;
}

/*.row {
	display: inline;
} */

/*
.col-md-4 {
	float: left;
} */

